body{
    background-color: rgb(15, 17, 17);
    color: aliceblue;
}

#heading{
    text-align: center;
    font-size: 4em;
}

#about-heading{
    padding: 10px;
    font-size: 2em;
}

.about{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.5;
    font-size: larger;
}

a{
    color: rgb(44, 54, 54);
}

a:hover{
    color: rgb(75, 95, 95);
}